Back-end/.vs/Central-de-Artigos.slnx/FileContentIndex/9b6ed13d-bc62-422b-84b6-93b1001b412e.vsidx
Back-end/.vs/Central-de-Artigos.slnx/FileContentIndex/a1b71303-908b-41eb-ba82-df3ce5e71eea.vsidx
Back-end/.vs/Central-de-Artigos.slnx/FileContentIndex/ec05cbe5-82bb-41e0-9884-df1729c21bdf.vsidx
Back-end/.vs/Central-de-Artigos.slnx/v18/DocumentLayout.json
Back-end/.vs/Central-de-Artigos.slnx/v18/.suo
Back-end/.vs/Central-de-Artigos.slnx/config/applicationhost.config
/.vs
