.title-center {
  flex: 1 1 auto;
  text-align: center;
}
mat-form-field {
  padding: 5px;
}
/* Corrige área de digitação do Quill */
::ng-deep .ql-container {
  min-height: 200px;
}

::ng-deep .ql-editor {
  min-height: 180px;
  cursor: text;
}
